.contact{
    color: var(--color-text);
    background: none;
    border: none;
    font-size: 20px;
    font-family:var(--font-family);
    cursor: pointer;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
}




.title-content{
    font-size: 60px;
    margin-bottom: 10px;
}